{% extends 'account/navbar.html' %}

{% load static %}
{% block contents %}
    <div class="container my-3">
        {{ error }}
        <form method="post" class="post-form" action="{% url 'account:signin' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" class="form-control" name="email" id="email"
                       value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password"
                       value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
        <a href='/account/find_password/'>비밀번호 찾기</a>
    </div>
    {% if user.is_authenticated %}
    asdfasdf
    {% endif %}

{% endblock %}