{% extends 'account/navbar.html' %}

{% load static %}
{% block contents %}

    <!-- <select>
        {% for p in provinces %}
        <option value={{p}}>{{p}}</option>
        {% endfor %}
    </select>
    <select>
        {% for ci in cities %}
        <option value={{ci}}>{{ci}}</option>
        {% endfor %}
    </select>
    <select>
        {% for co in counties %}
        <option value={{co}}>{{co}}</option>
        {% endfor %}
    </select> -->

    <!-- {{ res.content }} -->
    날씨
    <br>
    {% for i in data %}
    {{ i.text }}
    {% endfor %}




{% endblock %}